.content-section {
    width: 360px;
    margin: 0 auto;
}

.content-section_theme_dark {
    background-color: #131313;
    color: #F5F5F5;
}

.content-section_theme_bright {
    background-color: #FEE42A;
    color: #131313;
}

.header__all {
    display: flex;
    justify-content: space-between;
    padding: 24px 20px;
    height: 132px;
}

.header__logo {
    width: 78.5px;
    height: 15.5px;
}

.header__menu-list {
    list-style-type: none;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    row-gap: 13px;
}

.header__menu-link__all {
    color: inherit;
    list-style-type: none;
    text-underline-offset: 3px;
}

.header__menu-item_active {
    text-decoration: none;
}

.cover {
    position: relative;
    z-index: 2;
    padding: 10px 20px 0 20px;
}

.img__cover {
    position: absolute;
    z-index: 1;
    margin-top: 20px;
}

.cover__title {
    font-family: "EB Garamond";
    font-size: 72px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    line-height: 72px;
    padding-bottom: 7px;
}

.cover-text-center {
    text-align: center;
}

.cover-text-right {
    text-align: right;
}

.intro {
    padding: 26px 20px 37px;
}

.intro__heading {
    color: #CCC;
    display: flex;
    line-height: 120%;
}

.intro__title {
    font-size: 16px;
    font-weight: normal;
}

.intro__date {
    white-space: nowrap;
}

.intro__main-text {
    margin-top: 25px;
    line-height: 135%;
}

.reasons {
    padding: 40px 20px;
}

.content-section__subtitle {
    font-family: "EB Garamond";
    font-size: 28px;
    font-weight: 500;
    line-height: 114%;
    display: flex;
    flex-direction: column;
}

.reasons-text__right {
    text-align: right;
}

.content-section__introduction {
    margin: 32px 0;
    font-size: 20px;
    line-height: 135%;
}

.content-section__list {
    margin-left: 15px;
    margin-right: 1px; /*Без этого на новую строку не переносится (что с первого раза что-то получается довольно редко)*/
    line-height: 21.6px;
}

.content-section__list-accent {
    font-weight: bold;
}

.content-section__list-item:not(:last-child) {
    margin-bottom: 16px;
}

.how-to {
    padding: 40px 20px 60px;
}

.how-to-text__right {
    text-align: right;
}

.card {
    border-radius: 30px;
    list-style: none;
}

.card:not(:last-child) {
    margin-bottom: 34px;
}

.card:nth-last-child(1) {
    margin-bottom: 2px;
}

.card_theme_dark {
    background-color: #343434;
    color: #F5F5F5;
    padding: 20px;
}

.card_theme_bright {
    background-color: #FEE42A;
    color: #131313;
    padding: 20px;
}

.card__author-photo {
    height: 100px;
}

.card__author-name {
    margin: 5px 0 5px;
    line-height: 135%;
    letter-spacing: 0.3px;
}

.card__title {
    font-family: "EB Garamond";
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 135%;
}

.card__text {
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    margin: 7px 1px 0 0;
}

.footer {
    font-family: "Inter";
    padding: 20px;
    border-top: 1px solid;
    border-color: #FEE42A;
    display: flex;
    justify-content:space-between;
}

.link-vk, .link-youtube {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
}

.link-vk {
    margin-right: 13px;
}
