* {
    padding: 0;
    margin: 0;
    font-size: 100;
    font-weight: normal;
    box-sizing: border-box;
}

body {
    background-color: #131313;
}

.content-section_theme_dark {
    background-color: #131313;
    color: #F5F5F5;
    /*min-height: 100px;/*Временно*/
}

.content-section_theme_bright {
    background-color: #FEE42A;
    color: #131313;
    /*min-height: 100px;/*Временно*/
}

.header__all {
    display: flex;
    justify-content: space-between;
 
    margin: 0 20 24;
}

.header__logo {
    width: 78.453;
    height: 15.432;
}

.header__menu-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    row-gap: 13;
    text-underline-offset: 2;
}

.header__menu-item_active {
    text-decoration: none;
}

a {
    color: inherit;
}

h1 {
    background-image: url(./images/cover.svg);
    background-repeat: no-repeat;
    background-position: 0 100;
    font-family: "EB Garamond";
    font-size: 72;
    font-weight: 400;
    margin: 32 0 30 20;
    display: flex;
    flex-direction: column;
    line-height: 100
}

.cover-text-center {
    margin-left: 47;
}

.cover-text-right {
    margin-left: 155;

}

.intro {
    margin: 0 20 37;
}

h2 {
    font-size: 16;
    font-weight: 400;
}

.intro__heading {
    display: flex;
    color: #CCCCCC;
}

.intro__date {
    white-space: nowrap;
}

.intro__main-text {
    margin-top: 24;
    line-height: 135;
}

.reasons {

    margin: 0 20 40;
}

.content-section__subtitle {
    font-family: "EB Garamond";
    font-size: 28;
    font-weight: 500;
    line-height: 117;
    display: flex;
    flex-direction: column;
}

.reasons-text__right {
    margin-left: auto;
}

.reasons-text__left {
    margin-right: auto;
}

.content-section__introduction {
    margin: 31 0;
    font-size: 20;
    font-weight: 400;
    line-height: 135;
}

.content-section__list {
    font-size: 16;
    font-weight: 400;
    margin: 0 1 40 15;
    text-indent: 0;
    line-height: 135;

}

.content-section__list-item {
    margin-bottom: 16;
}

.content-section__list-accent {
    font-weight: 700;
}

.how-to {
    margin: 40 20 60;
    line-height: 135;
}

.card {
    border-radius: 30;
}

.card_theme_dark {
    background-color: #343434;
    color: #F5F5F5;

    line-height: 170;
    
}

.card_theme_bright {
    background-color: #FEE42A;
    color: #131313;

    line-height: 135;
    margin: 32 0;
}

.how-to-text__right {
    margin-left: auto;
}

.img-polyarinov, .img-bunin {
    height: 100;
}

.card__author-name {
    font-size: 16;
    font-weight: 700;
    line-height: 135;
    margin-bottom: 8;
}

.card__title {
    font-family: "EB Garamond";
    font-size: 22;
    font-weight: 500;
    margin-bottom: 7;
    line-height: 135;
}

.card__text {
    font-family: "Inter";
    font-size: 16;
    line-height: 135;
}

.footer {
    margin: 20;
    border-top: 2 solid;
    border-color: #FEE42A;
    display: flex;
    justify-content:space-between;
    min-height: 100;
}

.link-vk, .link-youtube {
    text-decoration: none;
    font-size: 13;
}

.link-vk {
    margin-right: 13;
}
